@tailwind base;
@tailwind components;
@tailwind utilities;

.arrowDown {
  animation: upAndDown 2s infinite both;
}

.primarySection {
  @apply bg-white dark:bg-slate-900;
}
.secSection {
  @apply bg-gray-50 dark:bg-slate-800;
}

* {
  scroll-behavior: smooth;
}
@keyframes heroAnimation {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
