@import 'tailwindcss';

.arrowDown {
  animation: upAndDown 2s infinite both;
}
@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
