@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.arrowDown {
  animation: upAndDown 2s infinite both;
}
* {
  scroll-behavior: smooth;
}
@keyframes heroAnimation {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
